.square{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(85, 81, 81);
    text-align: center;
    line-height: 50px;
    font-size: 1.3em;

}

.board{
    width: 157px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li{
    background-color:aliceblue;
    width: fit-content;
    border: 1px solid gray;
    box-shadow: 1px 3px 6px rgb(37, 30, 30);
    margin: 5px 0;
    padding: 0 5px;
    cursor: pointer;
}

li:hover{
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px rgb(158, 132, 132);
}
